{% extends 'SGLFLTSBundle:User:layout.html.twig' %}

{% block content %}

    <h1>{% trans %}Users list{% endtrans%}</h1>

    <div class="actions">
        {% include 'SGLFLTSBundle:Theme:Common/list_actions.html.twig' with { 'entity_name': 'user' } %}
    </div>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Username{% endtrans%}</th>
                <th>{% trans %}Name{% endtrans%}</th>
                <th>{% trans %}Enabled{% endtrans%}</th>
                <th>{% trans %}Lastlogin{% endtrans %}</th>
                <th>{% trans %}Roles{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="string">{{ entity.username }}</td>
                <td class="string">{{ entity.fullname }}</td>
                <td class="boolean">{% if (entity.enabled) %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
                <td class="date">{% if entity.lastlogin %}{{ entity.lastlogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="string">{{ entity.roles|join(', ') }}</td>
                <td class="actions">
                    {% include 'SGLFLTSBundle:Theme:Common/list_record_actions.html.twig' with { 'entity_name': 'user','entity': entity } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <strong>{{ entities|length }} {% trans %}users{% endtrans%}</strong>
    </p>

    <div class="actions">
        {% include 'SGLFLTSBundle:Theme:Common/list_actions.html.twig' with { 'entity_name': 'user' } %}
    </div>
{% endblock %}
