{% extends 'SGLFLTSBundle:Theme:baselayout.html.twig' %}

{% block pagetitle %}FLTS{% endblock %}

{% block header %}
    {{ render(controller('SGLFLTSBundle:Part:recents')) }}
    <h1><a href="{{ path('sgl_flts_dashboard') }}"><img id="logo" src="{{ business_logo_src }}" width="{{ business_logo_width }}" alt="{{ business_name }}" /></a></h1>
{% endblock %}

{% block nav %}
   {% include 'SGLFLTSBundle:Theme:Menu/main_menu.html.twig' %}
{% endblock %}

{% block aside %}
    {% include 'SGLFLTSBundle:Theme:Global/top.html.twig' %}
{% endblock %}

{% block notice %}
    {% if (form is defined) %}
        {% if not form.vars.valid %}
        <div class="notice notice-error">
            {% trans %}Form has error(s){% endtrans %}
        </div>
        {% endif %}
    {% endif %}

    {% if (app.session.flashbag.has('notice')) %}
        <div class="notice">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            {{ flashMessage|trans|nl2br }}<br/>
        {% endfor %}
        </div>
    {% endif %}

    {% if (app.session.flashbag.has('warning')) %}
        <div class="notice notice-error">
        {% for flashMessage in app.session.flashbag.get('warning') %}
            {{ flashMessage|trans|nl2br }}<br/>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    FLTS version 1.0
{% endblock %}