{% extends 'SGLFLTSBundle:Theme:layout.html.twig' %}

{% block content %}
    <p>
        Hey {{ app.user.fullname }}
        {% if (app.user.lastlogin and app.user.durationSinceLastLogin > 60) %}
            <br />{{ "You logged in %variableName% ago"|trans({'%variableName%': app.user.durationSinceLastLogin|relativeTime}) }}
        {% endif %}
    </p>
    <p>
        <strong>
        {% if is_granted('ROLE_ADMIN') %}
            You are an admin
        {% elseif is_granted('ROLE_BILL') %}
            You are a biller
        {% elseif is_granted('ROLE_USER') %}
            You are a user
        {% else %}
            Who are you??
        {% endif %}
        </strong>
    </p>

    <h3>{% trans %}Your most recent work{% endtrans %} :</h3>
    <p>
        <a href="{{ path('sgl_flts_report_date',{'date': lastest_work.workedAt|date('Y-m-d')}) }}">{{ lastest_work.workedAt|date('Y-m-d') }}</a><br />
        {{ lastest_work.task.part.project }} - {{ lastest_work.task.part }} <br />
        {{ lastest_work.startedAt|date('H:i') }} - {{ lastest_work.endedAt|date('H:i') }} <a href="{{ path('sgl_flts_work_show', { 'id': lastest_work.id, 'id_project': lastest_work.task.part.project.id,'id_part': lastest_work.task.part.id,'id_task': lastest_work.task.id }) }}">{{ lastest_work }}</a>
    </p>

    <h3>{% trans %}Browse the latest active project parts{% endtrans %} :</h3>
    {% if (latest_workedon_parts|length > 0) %}
    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Client{% endtrans %}</th>
                <th>{% trans %}Part name{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Open since{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for part in latest_workedon_parts %}
            <tr>
                <td>
                    {{ part.clientName }}
                </td>
                <td>
                    <a href="{{ path('sgl_flts_task', { 'id_project': part.project.id,  'id_part': part.id }) }}" class="list" title="{{ part.fullname }} {% trans %}task list{% endtrans%}">{{ part.fullname }}</a>
                </td>
                <td style="white-space: nowrap;">
                    {% if (part.closed) %}
                        {% trans %}Closed{% endtrans %}
                    {% else %}
                        {% trans %}Opened{% endtrans %} :
                        {{ part.getWorkedPourcentage|number_format(0)  }} %
                    {% endif %}
                </td>
                <td style="white-space: nowrap;">
                    {{ part.getDurationSinceCreation|relativeTime }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    <table>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <h3>{% trans %}Browse the latest bills{% endtrans %} :</h3>

        {% if (latest_bills|length > 0) %}
        <table class="records_list">
            <thead>
                <tr>
                    <th>{% trans %}Nbr{% endtrans %}</th>
                    <th>{% trans %}Client{% endtrans %}</th>
                    <th>{% trans %}Bill name{% endtrans %}</th>
                    <th>{% trans %}Total{% endtrans %}</th>
                    <th>{% trans %}Billed At{% endtrans %}</th>
                    <th>{% trans %}Paid At{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for bill in latest_bills %}
                <tr>
                    <td>
                        {{ bill.number }}
                    </td>
                    <td>
                        {{ bill.clientName }}
                    </td>
                    <td>
                        <a href="{{ path('sgl_flts_bill_show', { 'id': bill.id }) }}" title="{% trans %}Show bill{% endtrans %}">{{ bill.part.fullname }} - {{ bill }}</a>
                    </td>
                    <td class="money">
                        {{ bill.total|price }}
                    </td>
                    <td>
                        {% if (bill.billedAt) %}
                            {{ bill.billedAt|localizeddate('long', 'none', app.request.locale) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if (bill.paidAt) %}
                            {{ bill.paidAt|localizeddate('long', 'none', app.request.locale) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        <table>
        {% endif %}

    {% endif %}


    <h3>{% trans %}Profile{% endtrans %}</h3>
        <ul>
            <li><a href="{{ path('sgl_flts_user_edit',{'id': app.user.id }) }}">{% trans %}Edit profile{% endtrans %}</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">{% trans %}Change password{% endtrans %}</a></li>
        </ul>

    <h3>{% trans %}FLTS Project Home{% endtrans %} :</h3>
    <a href="https://github.com/sglessard/SGLFLTSBundle" title="FLTSBundle on Github">Github</a>
{% endblock %}