{% extends 'SGLFLTSBundle:Theme:layout.html.twig' %}

{% form_theme form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content %}
    {{ parent() }}

    {% include 'SGLFLTSBundle:Project:Common/identification_title.html.twig' with { 'project': project } %}

    <h2>{% trans %}Part{% endtrans %} : {{ part.fullname }}</h2>
    <h3>Task creation</h3>

    <form action="{{ path('sgl_flts_task_create' ) }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <div class="record_submit">
            <input type="submit" class="create" value="{% trans %}flts.button.Confirm create{% endtrans%}" />
        </div>
    </form>

    <div class="record_actions_ctn">

        <ul class="record_actions">
            <li>
                <a href="{{ path('sgl_flts_task', { 'id_project': project.id, 'id_part': part.id }) }}" class="list">
                    {% trans %}Back to the list (Cancel){% endtrans%}
                </a>
            </li>
        </ul>
    </div>

{% endblock %}