{% extends 'SGLFLTSBundle:Bill:layout.html.twig' %}

{% form_theme edit_form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content_title %}<h1>{% trans %}Edit{% endtrans%} {{ entity.name }}</h1>{% endblock %}

{% block content %}
    {{ parent() }}

    <form action="{{ path('sgl_flts_bill_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}

    {% if (entity.sent == false) %}
        {{ form_row(edit_form.part) }}
        {{ form_row(edit_form.number) }}
        {{ form_row(edit_form.name) }}
        {{ form_row(edit_form.description) }}
        {{ form_row(edit_form.ordered_at) }}
        {{ form_row(edit_form.billed_at) }}
        {{ form_row(edit_form.taxable) }}
        {{ form_row(edit_form.rate) }}
        {{ form_row(edit_form.extra_hours) }}
        {{ form_row(edit_form.extra_fees) }}
        {{ form_row(edit_form.sent_at) }}
        {{ form_row(edit_form.paid_at) }}
        {{ form_row(edit_form.deposited_at) }}

        <div class="row">
            <div class="label">
                <label for="sgl_fltsbundle_billtype_body_content">{% trans %}Body content{% endtrans %}</label>
            </div>
            <div id="sgl_fltsbundle_billtype_body_content_actions" class="record_field_actions">
                <a href="{{ path('sgl_flts_bill_body_content', { 'id': entity.id }) }}" class="button" id="regenerate_bill_body_content">Regenerate body content</a>
                <a href="{{ path('sgl_flts_bill_works_list', { 'id': entity.id }) }}" class="button" id="show_bill_checked_works">Show checked works</a>
            </div>
            <div class="field">
                {{ form_widget(edit_form.body_content) }}
            </div>
        </div>

        {{ form_row(edit_form.gst) }}
        {{ form_row(edit_form.pst) }}
    {% endif %}

        {{ form_rest(edit_form) }}

        <div class="record_submit">
            <input type="submit" class="edit" value="{% trans %}flts.button.Confirm edit{% endtrans%}" />
        </div>
    </form>

    {% include 'SGLFLTSBundle:Bill:Common/record_actions.html.twig' with { 'entity': entity, 'part': entity.part } %}

    <script type="text/javascript">
        $('#regenerate_bill_body_content').click(function(event) {
            event.preventDefault();
            if (!confirm('{% trans %}Are you sure you want to regenerate body content (changes will be lost)?{% endtrans %}'))
                return false;
            $.get($(this).attr('href'), function(content) {
                tinyMCE.activeEditor.setContent(content);
            });
        });

        $('#show_bill_checked_works').click(function(event) {
            event.preventDefault();
            if ($('#show_bill_checked_works_dialog').length == 0) {

                $('<div id="show_bill_checked_works_dialog" class="ui-dialog"><div class="content">{% trans %}Loading...{% endtrans %}</div></div>').appendTo($(this).parent());
                $("#show_bill_checked_works_dialog").dialog({
                    autoOpen: false,
                    show: "fade",
                    hide: "fade",
                    modal: true,
                    height: 600,
                    width: 850,
                    resizable: true,
                    title: 'Vessels'
                });
                $('#show_bill_checked_works_dialog .content').load($(this).attr('href'));
            }

            $("#show_bill_checked_works_dialog").dialog('open');
        });
    </script>
{% endblock %}