{% extends 'SGLFLTSBundle:Bill:layout.html.twig' %}

{% form_theme form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content_title %} <h1>{% trans %}Bill creation{% endtrans%}</h1>{% endblock %}

{% block content %}
    {{ parent() }}

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="record_submit">
            <input type="submit" class="create" value="{% trans %}flts.button.Confirm create{% endtrans%}" />
        </div>

    {{ form_end(form) }}

    <div class="record_actions_ctn">

        <ul class="record_actions">
            <li>
                <a href="{{ path('sgl_flts_bill') }}" class="list">
                    {% trans %}Back to the list (Cancel){% endtrans%}
                </a>
            </li>
        </ul>
    </div>
<script type="text/javascript">
$('#sgl_fltsbundle_billtype_part').change(function() {
    select_part_rate($(this),$('#sgl_fltsbundle_billtype_rate'),'{{ path('sgl_flts_part_rate') }}');
});
</script>
{% endblock %}