{% extends 'SGLFLTSBundle:Work:layout.html.twig' %}

{% form_theme edit_form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content_title %}<h2>{% trans %}Part{% endtrans %} : {{ part.fullname }}</h2>{% endblock %}

{% block content %}
    {{ parent() }}

    <form action="{{ path('sgl_flts_work_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

        {{ form_widget(edit_form) }}

        <div class="record_submit">
            <input type="submit" name="submit-work-edit" class="edit" value="{% trans %}flts.button.Confirm edit{% endtrans%}" />
            <input type="submit" name="submit-work-edit-add" class="edit" value="{% trans %}flts.button.Confirm edit and add new{% endtrans%}" />
        </div>
    </form>

    {% include 'SGLFLTSBundle:Work:Common/record_actions.html.twig' with { 'project': project, 'part': part, 'task': task} %}

{% endblock %}