{% extends 'SGLFLTSBundle:Work:layout.html.twig' %}

{% form_theme edit_form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content %}
    {{ parent() }}

    <h2>Move work « {{ entity  }}»</h2>

    <h3>{% trans %}Move from{% endtrans %} : </h3>
    <p>
        {{ part.fullname }}<br />
        {{ task.fullname }} : {{ entity }}
    </p>
    <h3>{% trans %}Move to{% endtrans %} :</h3>
    <form action="{{ path('sgl_flts_work_moveupdate', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <p>
            {{ form_widget(edit_form.part) }} <br />
            {{ task.fullname }} : {{ entity }}
        </p>
        {{ form_rest(edit_form) }}

        <div class="record_submit">
            <input type="submit" name="submit-work-move" class="move" value="{% trans %}Confirm move{% endtrans%}" />
        </div>
    </form>

    <div class="record_actions_ctn">

        <ul class="record_actions">
            <li>
               <a href="{{ path('sgl_flts_work_show', { 'id_project': project.id, 'id_part': part.id, 'id_task': task.id, 'id': entity.id }) }}" class="show">
                   {% trans %}Back to work (Cancel){% endtrans%}
               </a>
           </li>
        </ul>
    </div>

{% endblock %}