{% extends 'SGLFLTSBundle:Theme:layout.html.twig' %}

{% form_theme form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content %}
    {{ parent() }}

    {% include 'SGLFLTSBundle:Project:Common/identification_title.html.twig' with { 'project': project } %}

    <h2>{% trans %}Part{% endtrans %} : {{ part.fullname }}</h2>
    <h3>Work creation</h3>

    <form action="{{ path('sgl_flts_work_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="record_submit">
            <input type="submit" name="submit-work-create" class="create" value="{% trans %}Confirm creation{% endtrans%}" />
            <input type="submit" name="submit-work-create-add" class="create" value="{% trans %}Confirm creation and add again{% endtrans%}" />
        </div>
    </form>

    {% include 'SGLFLTSBundle:Work:Common/record_actions.html.twig' with { 'project': project, 'part': part, 'task': task} %}

{% endblock %}