{% extends 'SGLFLTSBundle:Theme:layout.html.twig' %}

{% block content %}

    <h1>{% trans %}flts.bill.Bills by opened project part{% endtrans %}</h1>
    {{ render(controller('SGLFLTSBundle:Part:selection', {'redirect_route': 'sgl_flts_part_bills', 'opened_only': '1', 'redirect_error': 'sgl_flts_bill'})) }}

    <h1>{% trans %}flts.bill.Bills by project part (all){% endtrans %}</h1>
    {{ render(controller('SGLFLTSBundle:Part:selection', {'redirect_route': 'sgl_flts_part_bills', 'redirect_error': 'sgl_flts_bill'})) }}

    {% include 'SGLFLTSBundle:Project:Common/identification_title.html.twig' with { 'project': part.project } %}

    <div class="record_actions_ctn">
        {% include 'SGLFLTSBundle:Bill:Common/list_actions.html.twig' with { 'part': part } %}
    </div>

    <table class="records_list records_list_extend">
        <thead>
            <tr>
                <th>{% trans %}Number{% endtrans%}</th>
                <th>{% trans %}Name{% endtrans%}</th>
                <th>{% trans %}Hours{% endtrans%}</th>
                <th>{% trans %}Amount{% endtrans%}</th>
                <th>{% trans %}Sent at{% endtrans%}</th>
                <th>{% trans %}Paid at{% endtrans%}</th>
                <th>{% trans %}Actions{% endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="number">{{ entity.number}}</td>
                <td class="string">{{ entity }}</td>
                <td class="number">{{ entity.worksHours|hours }} ({{ entity.hours|hours }})</td>
                <td class="money">{{ entity.total|price }}</td>
                <td class="date">{% if entity.sentAt %}{{ entity.sentAt|date('Y-m-d') }}{% endif %}</td>
                <td class="date">{% if entity.paidAt %}{{ entity.paidAt|date('Y-m-d') }}{% endif %}</td>
                <td class="actions">
                    {% include 'SGLFLTSBundle:Bill:Common/list_record_actions.html.twig' with { 'entity': entity } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <strong>{{ entities|length }} {% trans %} bills{% endtrans%}</strong>
    </p>

    <div class="record_actions_ctn">
        {% include 'SGLFLTSBundle:Bill:Common/list_actions.html.twig' with { 'part': part } %}
    </div>
{% endblock %}
