{% extends 'SGLFLTSBundle:Bill:layout.html.twig' %}

{% block content_title %}
    <h2>{{ part.fullname }}</h2>
    <h1>{% trans %}Bill works{% endtrans %}</h1>
{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="explanation">
        <p>{% trans %}To add or remove works from bill{% endtrans %} :
        <ol>
            <li>{% trans %}Select the bill{% endtrans %}</li>
            <li>{% trans %}Check/uncheck the work checkbox{% endtrans %}</li>
            <li>{{ "When you are done, %link_start%go to bill edition%link_end% to edit invoice content"|trans({'%link_start%' : '<a href="' ~ path('sgl_flts_bill_edit', { 'id': bill.id }) ~ '">', '%link_end%' : '</a>'})|raw  }}</li>
        </ol>
    </div>

    {% if (part) %}
    <div class="select_form_ctn">
        <form id="bills_form" action="" method="post">
            <div class="row">
                {{ form_label(bills_form.bill, 'Bill selection:'|trans, {'label_attr': {'class': 'inline-label'}}) }} {{ form_widget(bills_form.bill) }}<br />
                {{ form_errors(bills_form.bill) }}
            </div>
            {{ form_rest(bills_form) }}
            <button type="submit" class="search">{% trans %}Select{% endtrans%}</button>
        </form>
    </div>

<script type="text/javascript">
$('#bills_form').change(function() {
    $(this).submit();
}).submit(function() {
    var action = '{{ path('sgl_flts_bill_works',{'id': -1 }) }}';
    action = action.replace(/\-1/,$('#form_bill').val());
    $(this).attr('action',action);
    return true;
});
// url to fetch when checking/unchecking a work
var work_bill_url = '{{ path('sgl_flts_work_create') }}'.replace(/create/,'id_work/bill/') + $('#form_bill').val();
</script>

        <div style="float:right;">
            <a href="{{ path('sgl_flts_bill_addallworks', {id: -1}) }}" id="bill_check_all">{% trans %}Check all unbilled works</a>{% endtrans %}</a> | <a href="{{ path('sgl_flts_bill_remallworks', {id: -1}) }}" id="bill_uncheck_all">{% trans %}Uncheck all bill's works{% endtrans %}</a>
        </div>

        {% set works_count = 0 %}

        {% for task in tasks %}

            {% if (task.works|length) %}

            {% set works_count = works_count + task.works|length %}
            {% set works_hours = 0 %}
            {% set works_billed_hours = 0 %}

            <h3>{{ task }}</h3>

            <table class="records_list">
                <thead>
                    <tr>
                        <th>{% trans %}Date{% endtrans %}</th>
                        <th>{% trans %}Hours{% endtrans %}</th>
                        <th>{% trans %}Work{% endtrans %}</th>
                        <th>{% trans %}Bill{% endtrans %}</th>
                        <th>{% trans %}Add/remove{% endtrans %}</th>
                        <th>{% trans %}Paid{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>

                    {% for work in task.works %}
                        {% set works_hours = works_hours + work.hours %}
                        {% if (work.billed) %}
                            {% set works_billed_hours = works_billed_hours + work.hours %}
                        {% endif %}
                        <tr>
                            <td class="date">
                                <a href="{{ path('sgl_flts_report_date',{'date': work.workedAt|date('Y-m-d') }) }}">{{ work.workedAt|date('Y-m-d') }}</a>
                            </td>
                            <td class="number val-hours">{{ work.hours|hours }}</td>
                            <td class="string">
                                <span class="task-ident">{{ task.identification }}</span>
                                <a href="{{ path('sgl_flts_work_edit',{'id_project': part.project.id, 'id_part': part.id, 'id_task': task.id, 'id': work.id }) }}">{{ work }}</a>
                                {% if (work.description) %}
                                    <p>{{ work.description }}</p>
                                {% endif %}
                            </td>
                            <td class="string bill">
                                {% if (work.billed) %}
                                    <a href="{{ path('sgl_flts_bill_edit',{'id': work.bill.id }) }}">{{ work.bill.fullname }}</a>
                                {% endif %}
                            </td>
                            <td class="checkbox val-billed">
                                {% if not work.paid and not work.sent %}
                                    <input type="checkbox" class="chk_billed" name="billed[{{ work.id }}]" id="billed_{{ work.id }}" {% if (work.billed) %}checked="checked"{% endif %}/>
                                {% else %}
                                    {% trans %}Bill sent{% endtrans %}
                                {% endif %}
                            </td>
                            <td class="boolean">
                                {% if (work.paid) %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}
                            </td>

                            <td class="actions">
                                <ul class="record_actions">
                                    <li>
                                        <a href="{{ path('sgl_flts_work_show', { 'id': work.id, 'id_project': project.id,'id_part': work.task.part.id,'id_task': work.task.id }) }}" class="show">{% trans %}Show{% endtrans %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('sgl_flts_work_edit', { 'id': work.id, 'id_project': project.id,'id_part': work.task.part.id,'id_task': work.task.id }) }}" class="edit">{% trans %}Edit{% endtrans %}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="number">{{ task.works|length }}</td>
                        <td class="number">{{ works_hours|hours }}</td>
                        <td></td>
                        <td colspan="2" class="number val-selected_hours">{% trans %}Selected:{% endtrans %} <span class="selected_hours">{{ works_billed_hours|hours }}</span></td>
                    </tr>
                </tfoot>
            </table>

            {% endif %}
        {% endfor %}

        {% include 'SGLFLTSBundle:Bill:Common/record_actions.html.twig' with { 'entity': bill, 'part': bill.part } %}

    {% endif %}

{% endblock %}