{% extends 'SGLFLTSBundle:Part:layout.html.twig' %}

{% form_theme form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% set list_route = app.session.get('opened_parts', true) == true ? 'sgl_flts_part_list': 'sgl_flts_part_list_all' %}

{% block content_title %}<h1>Project part creation</h1>{% endblock %}

{% block content %}
    {{ parent() }}

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="record_submit">
            <input type="submit" class="create" value="{% trans %}flts.button.Confirm create{% endtrans%}" />
        </div>
    {{ form_end(form) }}

    <div class="record_actions_ctn">

        <ul class="record_actions">
            <li>
                <a href="{{ path(list_route, { 'id_project': project.id }) }}" class="list">
                    {% trans %}Back to the list (Cancel){% endtrans%}
                </a>
            </li>
        </ul>
    </div>


{% endblock %}