{% extends 'SGLFLTSBundle:Theme:layout.html.twig' %}

{% form_theme edit_form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content %}
    {{ parent() }}

    <h1>{% trans %}Edit{% endtrans%} {{ entity.name }}</h1>
    
    <form action="{{ path('sgl_flts_project_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
    
        <div class="record_submit">
            <input type="submit" class="edit" value="{% trans %}flts.button.Confirm edit{% endtrans%}" />
        </div>
    </form>
    
    {% include 'SGLFLTSBundle:Project:Common/record_actions.html.twig' with { 'entity_name': 'project','entity': entity } %}

{% endblock %}

