<div class="select_form_ctn">
    <form id="{{ form_attr_id }}" action="{{ path('sgl_flts_part_selection', { opened_only: form.opened_part is defined ? '1':'0' }) }}" method="post" class="part_select_form">
        <label for="form_part" class="required">Project part :</label>
        {% if form.part is defined %}
            {{ form_widget(form.part, { 'attr': {'class': 'selection'} }) }}
        {% elseif form.opened_part is defined %}
            {{ form_widget(form.opened_part, { 'attr': {'class': 'selection'} }) }}
        {% endif %}
        {{ form_widget(form.redirect_route) }}
        {{ form_widget(form.redirect_error) }}
        <button type="submit" class="select">{% trans %}Select{% endtrans%}</button>
    </form>
</div>
<script type="text/javascript">
$('.part_select_form').change(function() {
    $(this).submit();
});
</script>