<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ bill.fullname }}{% endblock %}</title>
        {% block stylesheets %}
            {% include 'SGLFLTSBundle:Bill:Invoice/stylesheets.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            {% include 'SGLFLTSBundle:Theme:Global/javascripts.html.twig' %}
        {% endblock %}
    </head>
    <body id="invoice">
    <div id="wrapper">
        <header>
            <div id="billnumber">{{ bill.numberPadded }}</div>
            <img id="logo" src="{{asset(business_logo_src) }}" width="{{ business_logo_width }}" alt="{{ business_name }}" />
            <table>
                <tbody>
                    <tr>
                        <th>{% trans %}flts.bill.invoice.Address{% endtrans %}</th>
                        <td>{{ business_address|nl2br }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}flts.bill.invoice.Phone{% endtrans %}</th>
                        <td>{{ business_phone|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </header>

        <table id="project">
            <thead>
                <tr>
                    <th>{% trans %}flts.bill.invoice.Bill to{% endtrans %}</th>
                    <th>{% trans %}flts.bill.invoice.Purchase order{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="client">
                        <div id="client_logo">
                        {% if (client.webPath) %}
                            <img src="{{ asset(client.webPath) }}" alt="{{ client.name }}"/>
                        {% else %}
                            <h3>{{ client.name }}</h3>
                            {% endif %}
                        </div>
                        {{ client.address|nl2br }}
                    </td>
                    <td id="purchase-order">
                        <table>
                            <tbody>
                            {% if (part.po) %}
                                <tr>
                                    <th>{% trans %}flts.bill.invoice.Number{% endtrans %}</th>
                                    <td>{{ part.po }}</td>
                                </tr>
                            {% endif %}
                                <tr>
                                    <th>{% trans %}flts.bill.invoice.Date{% endtrans %}</th>
                                    <td>{{ part.startedAt|localizeddate('long', 'none', app.request.locale)  }}</td>
                                </tr>
                            {% if (client.contactName) %}
                                <tr>
                                    <th>{% trans %}flts.bill.invoice.Person in charge{% endtrans %}</th>
                                    <td>{{ client.contactName }}</td>
                                </tr>
                            {% endif %}
                                <tr>
                                    <th>{% trans %}flts.bill.invoice.Project{% endtrans %}</th>
                                    <td>{{ project }}</td>
                                </tr>
                            {% if (bill.description) %}
                                <tr>
                                    <th>{% trans %}flts.bill.invoice.Description{% endtrans %}</th>
                                    <td>{{ bill.description|raw|nl2br }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="task-details">{% trans %}flts.bill.invoice.Details{% endtrans %}</div>

        {{ bill.bodyContent|raw }}

        <table id="subtotal">
            <tbody>
                {% if (bill.hours > 0) %}
                <tr>
                    <td><strong>{% trans %}flts.bill.invoice.Hourly rate{% endtrans %}</strong></td>
                    <td width="70"><strong>{{ bill.rate.rate|price}}</strong></td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% trans %}flts.bill.invoice.Subtotal (before tax){% endtrans %}</td>
                    <td>{{ bill.subtotal|price }}</td>
                </tr>
        {% if (bill.taxable) %}
            {% if (bill.gst) %}
                <tr>
                    <td>{% trans %}flts.bill.invoice.GST{% endtrans %} ({{ bill.gst|trim('.0') }} %)</td>
                    <td>{{ bill.gstFees|price }}</td>
                </tr>
            {% endif %}
            {% if (bill.pst) %}
                <tr>
                    <td>{% trans %}flts.bill.invoice.PST{% endtrans %} ({{ bill.pst|trim('.0') }} %)</td>
                    <td>{{ bill.pstFees|price }}</td>
                </tr>
            {% endif %}
            {% if (bill.hst) %}
                <tr>
                    <td>{% trans %}flts.bill.invoice.HST{% endtrans %} ({{ bill.hst|trim('.0') }} %)</td>
                    <td>{{ bill.hstFees|price }}</td>
                </tr>
            {% endif %}
        {% endif %}
            </tbody>
        </table>

        <footer>
            <table>
                <tbody>
                    <tr>
                        <td width="220">
                            <table id="invoice-date" width="180">
                                <tbody>
                                    <tr>
                                        <th>{% trans %}flts.bill.invoice.Invoice date{% endtrans %}</th>
                                        <td><strong>{{ bill.billedAt|date('Y-m-d') }}</strong></td>
                                    </tr>
                                    <tr>
                                        <th>{% trans %}flts.bill.invoice.Invoice number{% endtrans %}</th>
                                        <td><strong>{{ bill.number }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="250">
                        {% if (bill.taxable) %}
                            <table id="tax-registration" width="190">
                                <tbody>
                                    {% if (bill.gst) %}
                                    <tr>
                                        <th>{% trans %}flts.bill.invoice.GST Number{% endtrans %}</th>
                                        <td>{{ gst_registration_number }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if (bill.pst) %}
                                    <tr>
                                        <th>{% trans %}flts.bill.invoice.PST Number{% endtrans %}</th>
                                        <td>{{ pst_registration_number }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if (bill.hst) %}
                                    <tr>
                                        <th>{% trans %}flts.bill.invoice.HST Number{% endtrans %}</th>
                                        <td>{{ hst_registration_number }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        {% endif %}
                        </td>
                        <td width="190">
                            <table id="total" width="190">
                                <tbody>
                                    <tr>
                                        <td><strong>{% trans %}flts.bill.invoice.Total{% endtrans %}</strong></td>
                                        <td width="70"><strong>{{ bill.total|price }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        <p id="footernotes">{% trans %}flts.bill.invoice.Payment is due within 30 days upon receipt{% endtrans %}</p>
        </footer>
    </div>
    <script type="text/javascript">
        // Aesthetics
        // Max #bill-body-content>tbody height to fit in one page
        var max_tbody_height = 481;

        var current_tbody_height = 0;
        $('#bill-body-content tbody tr').each(function() {
            current_tbody_height += $(this).height();
        });
        if (current_tbody_height  < max_tbody_height) {
            var tfoot_height = max_tbody_height - current_tbody_height;
            $('#bill-body-content tfoot tr td').attr('height',tfoot_height);
        }
    </script>
    </body>
</html>
