{% extends 'SGLFLTSBundle:User:layout.html.twig' %}

{% form_theme edit_form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content_title %}<h1>{% trans %}Edit{% endtrans%} {{ entity.fullname }} {% if (app.user.id == entity.id) %}({% trans %}flts.user.me{% endtrans%}){% endif %}</h1>{% endblock %}

{% block content %}
    {{ parent() }}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        {% if (app.user.id == entity.id) %}
            <div style="margin-top:1em">
                <a href="{{ path('fos_user_change_password') }}">{% trans %}Change password{% endtrans %}</a>
            </div>
        {% endif %}

        <div class="record_submit">
            <input type="submit" class="edit" value="{% trans %}flts.button.Confirm edit{% endtrans%}" />
        </div>
    {{ form_end(edit_form) }}

    {% include 'SGLFLTSBundle:Theme:Common/record_actions.html.twig' with { 'entity_name': 'user','entity': entity } %}

{% endblock %}