{% extends 'SGLFLTSBundle:Client:layout.html.twig' %}

{% form_theme edit_form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content_title %}<h1>{% trans %}Edit{% endtrans%} {{ entity.name }}</h1>{% endblock %}

{% block content %}
    {{ parent() }}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    
        <div class="record_submit">
            <input type="submit" class="edit" value="{% trans %}flts.button.Confirm edit{% endtrans%}" />
        </div>
    {{ form_end(edit_form) }}
    
    {% include 'SGLFLTSBundle:Theme:Common/record_actions.html.twig' with { 'entity_name': 'client','entity': entity } %}

{% endblock %}